name: Build and Release DMF

on:
  push:
    branches:
      - master
      - release
      - release/**
    tags:
      - 'v*'
  workflow_dispatch:

env:
  TARGET_OS_LIST: '20H1'
  CONFIGURATION_LIST: 'Release,Debug'
  PLATFORM_LIST: 'x64,arm64'
  BUILD_BINARIESDIRECTORY: '${{ github.workspace }}\.output\b'
  BUILD_ARTIFACTSTAGINGDIRECTORY: '${{ github.workspace }}\.output\a'

jobs:
  build:
    name: Build (${{ matrix.target_os }} ${{ matrix.platform }} ${{ matrix.configuration }})
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        target_os: [20H1]
        configuration: [Release, Debug]
        platform: [x64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0

      - name: Build DMF
        shell: pwsh
        run: |
          $params = @{
            TargetOS = '${{ matrix.target_os }}'
            Configuration = '${{ matrix.configuration }}'
            Platform = '${{ matrix.platform }}'
          }
          ./build/build.ps1 @params

      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: Bin_${{ matrix.target_os }}_${{ matrix.platform }}_${{ matrix.configuration }}
          path: ./.output/b/Bin_${{ matrix.target_os }}_${{ matrix.platform }}_${{ matrix.configuration }}
          if-no-files-found: error
          retention-days: 30
